albumentations~=1.1.0
h5py~=2.10.0
scikit-image
scikit-learn~=1.0.2
scikit-video
scipy~=1.8.0
torch>1
kornia~=0.6.6
hydra-core
omegaconf~=2.2.3
opencv-python~=4.5.5.64
pytorch-lightning==1.1.6
torchvision~=0.11.3
tqdm~=4.64.0
numpy~=1.21.5
matplotlib~=3.5.1
segmentation_models_pytorch
sklearn~=0.0
-e git+https://github.com/anibali/pose3d-utils#egg=pose3d_utils
-e git+https://github.com/IIT-PAVIS/event_library#egg=event_library
comet_ml

bimvee~=1.0.15
setuptools~=57.0.0